body{
    background: url(imagem-fundo.jpg);
}

header{
    display: flex;
    position: relative;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-top: 20%;
}
.logo-senac{
    align-items: center;
    
}