body{
    background: url(imagem-fundo.jpg);
}

header{
    display: flex;
    position: relative;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-top: 10%;
    margin-left:45%;
}
.logo-senac{
    align-items: center;
    
}